.mypage {
    width: 100%;
    max-width: 1256px;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0px 60px;
}

.mypage-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0px -10px;
}

.my-empty {
    width: 6.33333%;
    padding-left: 10px;
    padding-right: 10px;
}

.empty-sub {
    display: none;
    margin: 0px -10px 20px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.withdrawal-button {
    margin-top: 100px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}