.bg-light {
    background-color: #EEEEEE; /* 투명도를 조절하려면 마지막 값(0~1)을 조절합니다 */
}

.navi-color {
    background-color: #5C0C11;
    color: #EEEEEE;
    font-size: 18px;
}

.menu-font-color {
    color: #EEEEEE;
    &:hover {
        color: #EEEEEE;
    }
}

.active {
    color: #EEEEEE !important;
    font-weight: 600;
}