.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

 /* 메뉴 글자 크기 수정 */
.navbar-nav .nav-link {
    font-size: 20px; /* 원하는 크기로 수정 */
    /* font-family: '빙그레 메로나체'; */
    padding: 10px 0;
}



.login-font {
    font-weight: bold;
}


/* 로고 뒷 배경 색 */
.navbar-logo {
    background-color: #EEEEEE;
}

.navbar-brand.active {
    padding: 0 !important; /* 패딩을 0으로 설정하고 !important로 강제 적용 */
}

.navbar-nav {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    width: 100%;
}

.nav-item {
    padding: 10px 40px;
}



