.main-wrapper {
    background-color: #EEEEEE;
}

/* Footer */
.footer-wrapper {
    /* 배경색상 */
    background-color: #5C0C11;
    /* 글자색상 */
    color: rgba(240, 248, 255, 0.705);
    /* 글사크기 */
    /* flex: 1; */
}

/* 가운데 정렬 */
.parent {
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

/* 포스터 크기 */
.poster-main {
  height: 355px;
}

/* Banner 사이즈 [1 ,2 ,3] */
.banner{
  width: 30%;
  height: 200px;
}

.intro-banner {
  
}